@model PizzaBox.WebClient.Models.CustomerViewModel

<form asp-action="create" asp-controller="order" asp-antiforgery="true" method="POST">
  <section>
    @foreach (var item in Model.Order.Stores)
    {
      <input type="radio" asp-for="@Model.Order.Store" value="@item" required>
      <label for="@item">@item</label>
    }
  </section>

  <button type="submit">create order</button>
</form>
