@model PizzaBox.WebClient.Models.CustomerViewModel;

<form asp-action="create" asp-controller="order" asp-antiforgery="true" method="POST">
  <label for="@Model.Order.Store">Current Store</label>
  <input type="text" asp-for="@Model.Order.Store" value="@Model.Order.Store" readonly>
  <button type="submit">Make Another Order</button>
</form>

<form asp-action="order_history" asp-controller="customer" method="GET">
  <button type="submit">Show Order History</button>
</form>

<form asp-action="home" asp-controller="app" method="GET">
  <button type="submit">Log Out</button>
</form>