@model PizzaBox.WebClient.Models.OrderViewModel

<form asp-action="create" asp-controller="order" asp-antiforgery="true" method="POST">
  <section>
    @foreach (var item in Model.Stores)
    {
      <input type="radio" asp-for="@Model.Store" value="@item">
      <label for="@item">@item</label>
    }
  </section>

  <button type="submit">create order</button>
</form>
