<form asp-action="order_history" asp-controller="store" method="GET">
  <button type="submit">Show Order History</button>
</form>

<form asp-action="sales" asp-controller="store" method="GET">
  <button type="submit">Show Sales</button>
</form>

<form asp-action="home" asp-controller="app" method="GET">
  <button type="submit">Log Out</button>
</form>