<form asp-action="customer" asp-controller="customer" method="GET">
  <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Customer</button>
</form>

<form asp-action="store" asp-controller="store" method="GET">
  <button type="submit" class="btn btn-secondary">Store</button>
</form>