<form asp-action="customer" asp-controller="customer" method="GET">
  <button type="submit">Customer</button>
</form>

<form asp-action="store" asp-controller="store" method="GET">
  <button type="submit">Store</button>
</form>